.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    outline: 2px solid rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px black;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 50em) {

    /* Ajuste necesario para visualizar correcatamente en movil */
    .box {
        width: 44px;
        height: 44px;
        font-size: 10px;
    }
}